$default-font-s: 32px !default;
$default-c: red !default;
$border-radious: 10px !default;
$box-shadow: 0 0.5rem 1rem rgba($default-c, 0.3) !default;

.Default {
    border: 1px solid $default-c;
    border-radius: $border-radious;
    box-shadow: $box-shadow;
}