<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/dist/css/main.min.css" />
  <title>Examples Date Types</title>
</head>

<body>
  <main id="DateType">
    <h1>Creating out first scss file</h1>
    <!-- Numbers -->
    <section id="Numbers">
      <h2>Numbers</h2>
      <ol class="Numbers-list">
        <li>'normal': 100</li>
        <li>'decimals': 0.1</li>
        <li>'percentage': 10%,</li>
        <li>'pxValue': 16px, <span>1em</span> , <span>1rem</span></li>
      </ol>
    </section>
    <!-- Strings -->
    <section id="Strings">
      <h2>Strings</h2>
      <ol class="Strings-list">
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>
          Lorem, ipsum dolor.: 16px, <span>Lorem, ipsum dolor.</span> ,
          <span>Lorem ipsum dolor sit.</span>
        </li>
      </ol>
    </section>
    <!-- Colors -->
    <section id="Colors">
      <h2>Colors</h2>
      <ol class="Colors-list">
        <li>Named Colors</li>
        <li>specific-named.</li>
        <li>hexadecimal</li>
        <li>
          'red,green,blue': rgb(204, 102, 153),
          <span>'red,green,blue,alpha': rgba(107, 113, 127, 0.8)</span> ,
          <span>'red,green,blue,alpha': rgba(107, 113, 127, 0.8)</span>
        </li>
      </ol>
    </section>
    <!-- Lists -->
    <section id="Lists">
      <h2>Lists</h2>
      <div class="Lists-list">
        <div class="list-item-2rem bg-red">item1</div>
        <div class="list-item-3rem bg-blue">item2</div>
        <div class="list-item-4rem bg-purple">item3</div>
      </div>
    </section>
    <!-- Maps -->
    <section id="Maps">
      <h2>Maps</h2>
      <div class="Maps-list">
        <div class="list-item">item1</div>
        <div class="list-item">item2</div>
        <div class="list-item">item3</div>
        <!-- add extra divs -->
        <div class="list-item">item4</div>
        <div class="list-item">item5</div>
        <div class="list-item">item6</div>
      </div>
    </section>
    <!-- Booleans -->
    <section id="Booleans">
      <h2>Booleans</h2>
      <div class="Booleans-list">
        <div class="square">item1</div>
        <div class="circle">item2</div>
      </div>
    </section>
    <!-- Null -->
    <section id="Null">
      <h2>Null</h2>
      <div class="container">
        <div class="item">item1</div>
        <div class="item">item2</div>
      </div>
    </section>
  </main>
</body>

</html>