<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Examples Variables</title>
</head>

<body>
  <main id="Variable">
    <h1>Creating out first scss file</h1>
    <!-- Nesting -->
    <section id="Variables">
      <h2>Nesting</h2>
      <ol class="Variable-list">
        <li>index.html</li>
        <li>main.scss</li>
        <li>settings for sass compiler</li>
        <li>importing the compiled css file in the html file</li>
      </ol>
    </section>
    <!-- Interpolation -->
    <section id="Default">
      <h2>Interpolation</h2>
      <ol class="Default-list">
        <li class="Default">index.html</li>
        <li class="Default">main.scss</li>
        <li class="Default">settings for sass compiler</li>
        <li class="Default">
          importing the compiled css file in the html file
        </li>
      </ol>
    </section>
    <!-- Scope -->
    <section id="Scope">
      <h2>Scope</h2>
      <ol class="Scope-list">
        <li class="Scope-item">index.html</li>
        <li class="Scope-item">main.scss</li>
        <li class="Scope-item">settings for sass compiler</li>
        <li class="Scope-item">
          importing the compiled css file in the html file
        </li>
      </ol>
    </section>
    <section id="Shadowing">
      <h2>Shadowing</h2>
      <div class="Shadowing">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
          tempora.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
          tempora.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
          tempora.
        </p>
      </div>
    </section>
    <section id="Flow">
      <h2>Flow</h2>
      <div class="Flow">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
          tempora.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
          tempora.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
          tempora.
        </p>
      </div>
    </section>
    <section id="Advanced">
      <h2>Advanced</h2>
      <div class="Advanced">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
          tempora.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
          tempora.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
          tempora.
        </p>
      </div>
    </section>
  </main>
</body>

</html>