<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/dist/css/main.min.css" />
  <title>SaSS Mixin</title>
</head>

<body>
  <h1>Sass Mixin</h1>
  <header>
    <h2>Overview</h2>
    <h3>SaSS Mixin:</h3>
  </header>
  <main>
    <section id="Mixin">
      <h2>Mixin</h2>

      <ul class="list">
        <a href="#">
          <li>Home</li>
        </a>
        <a href="#">
          <li>About</li>
        </a>
        <a href="#">
          <li>Contact</li>
        </a>
        <a href="#">
          <li>Portfolio</li>
        </a>
      </ul>
      <div class="Blog">
        <h2>Blog Title</h2>
        <div class="Blog-content">
          <div class="content">
            <h3>Blog Post 1</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis totam, dolor facilis vel excepturi quas accusantium
              explicabo tempora nostrum cum laudantium. Corporis quidem minus
              consectetur blanditiis rerum cumque et dolor.
            </p>
          </div>
          <div class="content">
            <h3>Blog Post 2</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis totam, dolor facilis vel excepturi quas accusantium
              explicabo tempora nostrum cum laudantium. Corporis quidem minus
              consectetur blanditiis rerum cumque et dolor.
            </p>
          </div>
          <div class="content">
            <h3>Blog Post 3</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis totam, dolor facilis vel excepturi quas accusantium
              explicabo tempora nostrum cum laudantium. Corporis quidem minus
              consectetur blanditiis rerum cumque et dolor.
            </p>
          </div>
        </div>
      </div>
      <h2>Arguments</h2>
      <div class="Arguments">
        <div class="flex">
          <ul>
            <a href="#">
              <li>Food</li>
            </a>
            <a href="#">
              <li>Fitnes</li>
            </a>
            <a href="#">
              <li>Yoga</li>
            </a>
            <a href="#">
              <li>Avocado</li>
            </a>
            <a href="#">
              <li>Vegan</li>
            </a>
            <a href="#">
              <li>Mental Health</li>
            </a>
          </ul>
        </div>
        <div class="grid">
          <div class="Food">
            <h3>Food</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam,
              adipisci qui. Exercitationem, laborum voluptatum ab eaque
              asperiores ea nemo itaque autem expedita obcaecati consequatur,
              optio veniam. Rerum dolores molestias eum commodi inventore
              veritatis quae a accusantium deleniti exercitationem nam
              sapiente quia modi delectus magnam, iure omnis vero incidunt
              dolorem consequatur.
            </p>
          </div>
          <div class="Fitnes">
            <h3>Fitnes</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam,
              adipisci qui. Exercitationem, laborum voluptatum ab eaque
              asperiores ea nemo itaque autem expedita obcaecati consequatur,
              optio veniam. Rerum dolores molestias eum commodi inventore
              veritatis quae a accusantium deleniti exercitationem nam
              sapiente quia modi delectus magnam, iure omnis vero incidunt
              dolorem consequatur.
            </p>
          </div>
          <div class="Yoga">
            <h3>Yoga</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam,
              adipisci qui. Exercitationem, laborum voluptatum ab eaque
              asperiores ea nemo itaque autem expedita obcaecati consequatur,
              optio veniam. Rerum dolores molestias eum commodi inventore
              veritatis quae a accusantium deleniti exercitationem nam
              sapiente quia modi delectus magnam, iure omnis vero incidunt
              dolorem consequatur.
            </p>
          </div>
          <div class="Avocado">
            <h3>Avocado</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam,
              adipisci qui. Exercitationem, laborum voluptatum ab eaque
              asperiores ea nemo itaque autem expedita obcaecati consequatur,
              optio veniam. Rerum dolores molestias eum commodi inventore
              veritatis quae a accusantium deleniti exercitationem nam
              sapiente quia modi delectus magnam, iure omnis vero incidunt
              dolorem consequatur.
            </p>
          </div>
          <div class="Vegan">
            <h3>Vegan</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam,
              adipisci qui. Exercitationem, laborum voluptatum ab eaque
              asperiores ea nemo itaque autem expedita obcaecati consequatur,
              optio veniam. Rerum dolores molestias eum commodi inventore
              veritatis quae a accusantium deleniti exercitationem nam
              sapiente quia modi delectus magnam, iure omnis vero incidunt
              dolorem consequatur.
            </p>
          </div>
          <div class="Mental Health">
            <h3>Mental Health</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam,
              adipisci qui. Exercitationem, laborum voluptatum ab eaque
              asperiores ea nemo itaque autem expedita obcaecati consequatur,
              optio veniam. Rerum dolores molestias eum commodi inventore
              veritatis quae a accusantium deleniti exercitationem nam
              sapiente quia modi delectus magnam, iure omnis vero incidunt
              dolorem consequatur.
            </p>
          </div>
        </div>
      </div>
      <div class="avatar">
        <div class="avatar-inner"></div>
      </div>
    </section>
  </main>
</body>

</html>